# My first notebook
Example 1: print "Hello World! on console

In [ ]:
print("Hello World!")

# Comments in Python

In [ ]:
# Comments in Python
#This is a comment.
""" This is 
a multiline 
comment.
"""

# Print function

In [9]:
#Print function
print("Hello, There!")
print(1+5*6) #prints 31 (PEMDAS/BODMAS)
print(100+250) #prints 350
print("100 + 250") # prints 100 + 250
print("100 "*5) #Prints 100 five times
print("Rucha", "The Time Machine", True, 3.5, 300000)

Hello, There!
31
350
100 + 250
100 100 100 100 100
Rucha The Time Machine True 3.5 300000

In [10]:
#Print function sep and end
print(1,2,3,4, sep = "+")
print(5,6,7,8, sep = "&")
print(1,2,3,4, sep = "+", end = "-")
print(5,6,7,8, sep = "&", end ="#")
print(9,0,sep = "$", end = "#")

1+2+3+4
5&6&7&8
1+2+3+4-5&6&7&8#9$0#

In [ ]:
#vaiable naming
test_score = 10 # snake case

In [11]:
# variables (Datatypes)
file = None
number : int = 100
sales_tax : float = 10.3
fake_news : bool = False
student_name : str = "Harry Potter"
print(file, number, sales_tax, fake_news, name)

None 100 10.3 False Harry Potter