# My first notebook
Example 1: print "Hello World! on console

In [ ]:
print("Hello World!")

# Comments in Python

In [ ]:
# Comments in Python
#This is a comment.
""" This is 
a multiline 
comment.
"""

# Print function

In [9]:
#Print function
print("Hello, There!")
print(1+5*6) #prints 31 (PEMDAS/BODMAS)
print(100+250) #prints 350
print("100 + 250") # prints 100 + 250
print("100 "*5) #Prints 100 five times
print("Rucha", "The Time Machine", True, 3.5, 300000)

Hello, There!
31
350
100 + 250
100 100 100 100 100
Rucha The Time Machine True 3.5 300000

In [10]:
#Print function sep and end
print(1,2,3,4, sep = "+")
print(5,6,7,8, sep = "&")
print(1,2,3,4, sep = "+", end = "-")
print(5,6,7,8, sep = "&", end ="#")
print(9,0,sep = "$", end = "#")

1+2+3+4
5&6&7&8
1+2+3+4-5&6&7&8#9$0#

In [ ]:
#vaiable naming
test_score = 10 # snake case

In [ ]:
# variables (Datatypes)
file = None
number : int = 100
sales_tax : float = 10.3
fake_news : bool = False
student_name : str = "Harry Potter"
print(file, number, sales_tax, fake_news, name)

In [ ]:
#Variables can also be collections like tuple, list or dictionary type
primary_numbers : tuple =(2,3,5,7,11,13,17,19)
favorite_fruits : tuple = ("banana", "guava", "apple", "blueberry", "strawberry")
even_numbers : list = [2,4,6,8,10,12,14,16,18,20]
student_record : list = ["Vick Vu", "Python", "3.5"]
student_data:dict = {"FirstName" : "Vick" , "LastName":"Vu", "CourseName" : "Python", "GPA" : 3.5}

In [13]:
# variables (Collections Datatypes)
even_numbers : tuple = (2,4,6,8,10)
favorite_food : list = ["Matki Poha" , "Samosa", "Pattice", "Sabudana Wada", "Cheese Uttapa", "Onion Uttapa", "Mysore Masala Dosa"]
faculty_data : dict = {"Name" : "Elizabeth Zott" , "Subject" : "Chemistry" ,"GPA" : 3.9, "Specialization" : "Organic Chemistry"}
print(type(even_numbers))
print(type(favorite_food))
print(type(faculty_data))

<class 'tuple'>
<class 'list'>
<class 'dict'>

In [19]:
#Tuples, Lists can hold mixed types of data
mix_tuple : tuple = ("apple", 12, 3.14, None, True)
print(mix_tuple)
mix_list: list = [2,3,4,5,7,11,13,20.2, None, False, "All is well!", mix_tuple] # A list can contain a tuple
print(mix_list)
mix_list_2 : list = [100,"Rucha", mix_list] # A list can contain another list
print(mix_list_2)
two_mix_lists : list = [mix_list, mix_list_2] #A list can contain two or more lists
print(two_mix_lists)

('apple', 12, 3.14, None, True)
[2, 3, 4, 5, 7, 11, 13, 20.2, None, False, 'All is well!', ('apple', 12, 3.14, None, True)]
[100, 'Rucha', [2, 3, 4, 5, 7, 11, 13, 20.2, None, False, 'All is well!', ('apple', 12, 3.14, None, True)]]
[[2, 3, 4, 5, 7, 11, 13, 20.2, None, False, 'All is well!', ('apple', 12, 3.14, None, True)], [100, 'Rucha', [2, 3, 4, 5, 7, 11, 13, 20.2, None, False, 'All is well!', ('apple', 12, 3.14, None, True)]]]

In [20]:
student_data_1: dict = {"Name" : "Sue Jones", "GPA" : 3.4}
student_data_2: dict = {"Name" : "Trick Too", "GPA" : 3.1}
student_data_3: dict = {"Name" : "Jelly Bell", "GPA" : 3.2}
student_datas = [student_data_1, student_data_2, student_data_3] # A list can contain multiple dictionary data
print(student_datas)

[{'Name': 'Sue Jones', 'GPA': 3.4}, {'Name': 'Trick Too', 'GPA': 3.1}, {'Name': 'Jelly Bell', 'GPA': 3.2}]